.search-input-container {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    border-radius: 20px;
    background-color: color-mix(in srgb, transparent, currentcolor 4%);

    .search-input {
        background-color: transparent;
        height: 100%;
        width: 140px;
        padding-right: 12px;
        margin: 0;
        border: none;
        outline: none;
        line-height: 24px;
        font-size: 14px;
        color: currentcolor;
        overflow: hidden;
    }
}

.search-input-prefix {
    width: 24px;
    height: 24px;
    padding: 8px;
    fill: currentcolor;
}